body{
    margin: 0;
    background-color: rgb(52, 50, 50);
}

#search-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background: url(https://images.unsplash.com/photo-1504625709867-b4e45e3bb9dd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fGhpZ2glMjBjb250cmFzdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60);
    background-position: center;
    background-size: cover;
    margin: 10px;
}   

#search-section div input{
    padding: 10px 20px;
    width: 400px;
    border-radius: 10px;
}

#search-section div button{
    padding: 10px 20px;
    background-color: rgb(240, 233, 224);
    border-radius: 10px;
}

#movie-section{
    display: grid;
    padding: 10px;
    background-color: rgb(201, 192, 192);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin:10px;
    width: auto;
}